extends layouts/layout
block content
    div.well
        div#admin-nav
            h1 admin dashboard
            p current pollId: #{pollId}
            ul.navbar
                li
                    a.navbar-link(href='/new') add game
                li
                    a.navbar-link(href='/togglepoll') toggle poll div
                li
                    a.navbar-link(href='/reset') reset suggestions
                li
                    a.navbar-link(href='/createpoll') create poll from suggestions

        h1.toggle-games games
        div#admin-games
          table
            thead
              tr
                td Title
                td Official?
                td Community?
                td Active?
                td Action
            tbody
              for game in games
                  tr 
                    td #{game.title}
                    td #{game.official}
                    td #{game.community}
                    td #{game.active}
                    td
                      a(href='/edit/#{game._id}') EDIT
        hr
        h2.toggle-suggestions suggestions
        div#admin-suggestions
            ul
                for suggestion in suggestions
                     li #{suggestion.title}
                        span
                            a(href='/remove/#{suggestion._id}') [delete]
