extends layouts/layout
block content
    div.well
        h1 #{game.title}
        form(action='/save' method='post')
            div.form-group
                label(for='title') title
                input.form-control(type='text' id='title' name='title' value='#{game.title}')
            div.form-group
                label(for='description') description
                input.form-control(type='text' id='description' name='description' value='#{game.description}')
            div.form-group
                label(for='developer') dev
                input.form-control(type='text' id='developer' name='developer' value='#{game.developer}')
            div.form-group
                label(for='publisher') publisher
                input.form-control(type='text' id='publisher' name='publisher' value='#{game.publisher}')
            div.form-group
                label(for='homepage') homepage
                input.form-control(type='text' id='homepage' name='homepage' value='#{game.homepage}')
            div.form-group
                label(for='coverart') coverart
                input.form-control(type='text' id='coverart' name='coverart' value='#{game.coverart}')
            div.form-group
                label(for='trailerID') Video ID
                input.form-control(type='text' id='trailerID' name='trailerID' value='#{game.trailerID}')
            div.form-group
                label(for='releasedate') releasedate
                input.form-control(type='text' id='releasedate' name='releasedate' value='#{game.releasedate}')
            div.form-group
                label(for='community') community
                input.form-control(type='checkbox' id='community' name='community' checked=game.community ? 'checked' : null)
            div.form-group
                label(for='official') official
                input.form-control(type='checkbox' id='official' name='official' checked=game.official ? 'checked' : null)
            div.form-group
                label(for='active') active
                input.form-control(type='checkbox' id='active' name='active' checked=game.active ? 'checked' : null)
            div.form-group
                label(for='released') released
                input.form-control(type='checkbox' id='released' name='released' checked=game.released ? 'checked' : null)
            div.form-group
                label(for='new') new
                input.form-control(type='checkbox' id='new' name='new' checked=game.new ? 'checked' : null)
            input(type='hidden' name='_id' value='#{game._id}')
            button.btn.btn-warning.btn-lg(type='submit') Save changes