div.well
    h1.centered #{poll.title}
    h3.centered
      a(href="/result") Ergebnis anschauen
    form#vote-form(action='/submit' method='post')
        div#vote-area
            each option in poll.options
                div#poll-option
                        span #{option.title}
                        div.checkboxFour
                            input(type='checkbox' name='v' id='#{option._id}' value='#{option._id}')
                            label(for='#{option._id}')
        input(type='hidden' name='pollId' value='#{poll.id}')
        button(style='text-align: center;' type='submit') Submit
